@charset "UTF-8";

/* Version pour mobile par defaut */
* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 10px;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
}

header, footer {
	background-color: rgba(0, 128, 192, 0.6); /* même couleur que #0080c0 */
	border-radius: 20px;
	height: auto;
	padding: 15px;
	color: white;
	font-size: 1.1em;
	text-align: center;
}

.menu-icon {
	display: block;
	font-size: 2em;
	padding: 10px;
	cursor: pointer;
	color: white;
	background-color: #0080c0;
	border-radius: 5px;
	margin: 10px;
	width: fit-content;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-icon + ul {
	display: flex;
}

nav {
	text-align: left;
	position: relative;
}

nav ul {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
}

nav ul li {
	list-style: none;
	background-color: #0080c0;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px black;
	transition: background-color 0.2s;
}

nav ul li:hover {
	background-color: #004080;
	cursor: pointer;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
}

#content {
	display: block;
}

#left, #right {
	display: none;
}

#center {
	font-size: 1.1em;
}

#PageAccueil {
	background-image: url('../images/fondAccueil.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#Page02, #Page03 {
	background-color: rgba(0, 128, 192, 0.03); /* couleur #0080c0 très atténuée !*/
}

h1 {
	color: #004080;
	text-align: center;
	font-size: 2em;
	text-shadow: 2px 2px 4px rgb(128, 128, 128);
}

h2 {
	color: #004080;
	margin: 15px 0;
	font-size: 1.3em;
	clear: both;
}

img {
	display: block;
	padding: 10px;
	margin: 10px auto;
	width: 100%;
	max-width: 800px;
	height: auto;
	box-shadow: 5px 5px 15px rgba(0, 128, 192, 0.5);
}

img.droite {
	float: none;
	margin: 10px auto;
}

img.gauche {
	float: none;
	margin: 10px auto;
}

/* Version pour écrans plus larges */

@media screen and (min-width: 768px) {

body {
	margin: 15px;
	font-size: 12px;
}
header, footer {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu-icon {
	display: none;
}
nav {
	text-align: center;
}
nav ul {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
}
nav ul li {
	margin: 0 15px;
}
nav ul li a {
	font-size: 1.8em;
}
#content {
	display: flex;
	align-items: stretch;
}
#left, #right {
	display: block;
	flex: 0 0 10%;
	}
#center {
	flex: 1;
	font-size: 1.2em;
}
img.droite {
	float: right;
	margin-left: 20px;
}
img.gauche {
	float: left;
	margin-right: 20px;
}
}
